<ul>
    {% for categorie in categories %}
        <li>
            <div>
                <a href="{{ path('index_forum', {'id': categorie.id}) }}">{{ categorie.libelle }}</a>
                - {{ categorie.description }}
                {% if categorie.categorieChilds|length > 0 %}
                    <ul>
                        {% for subcat in categorie.categorieChilds %}
                            <li>
                                <a href="{{ path('index_forum', {'id': subcat.id}) }}">{{ subcat.libelle }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>