{% extends 'base.html.twig' %}

{% block title %}topic{% endblock %}

{% block body %}

    <h1>Titre : {{ topic.libelle }}</h1>

    <div id="content">
        <h2>Contenu</h2>
        {{ topic.content|raw }}
    </div>
    <div id="informations">
        {% if app.user == topic.createdBy or is_granted('ROLE_MODO') %}
            <a href="{{ path('topic_edit', {'id_cat': topic.category.id,'id_topic': topic.id}) }}">Editer</a>
        {% endif %}
        <p>Discussion créée le {{ topic.createdAt|date('Y-m-d H:i:s') }} par {{ topic.createdBy.pseudo }}</p>
        {% if topic.editedAt is not null %}
            <p>Discussion editer le {{ topic.editedAt|date('Y-m-d H:i:s') }}</p>
        {% endif %}
    </div>

    {% if topic.answers|length > 0 %}
        <div id="answers">
            <h2>Réponses : </h2>
            {% for answer in topic.answers %}
                {{ include('club/_answer_template.html.twig') }}
            {% endfor %}
        </div>
    {% endif %}

    {% if form is defined %}
        <div id="form-answer">
            {{ include('topic/_form_answer.html.twig', {'button_label': 'Réponse rapide'}) }}
        </div>
    {% endif %}


    <a href="{{ path('index_forum', {'id_cat': topic.category.id}) }}">back to list</a>

    <a href="{{ path('topic_edit', {'id_cat': topic.category.id,'id_topic': topic.id}) }}">edit</a>

    {{ include('topic/_delete_form.html.twig') }}
{% endblock %}
